@use 'utilities/functions' as *;

@use '../base' as *;

@mixin logo ($size, $letterspace) {
    font-family: $josefin;
    font-weight: $bold;
    line-height: $line-h;
    font-size: $size;
    letter-spacing: $letterspace;
    font-style: normal;
    text-transform: uppercase;
    color: $white;
}

@mixin headline ($size, $letterspace) {
    font-family: $josefin;
    font-weight: $regular;
    font-style: normal;
    font-size: $size;
    letter-spacing: $letterspace;
    line-height: $line-h;
    text-transform: capitalize;
    color: $white;
}

@mixin button ($width, $height, $background) {
    color: $white;
    text-align: center;
    width: $width;
    height: $height;
    background: $background;
    border: none;
    border-radius: 0;
}

@mixin btntxt ($size, $letterspace) {
    font-family: $aleo;
    font-weight: $regular;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: $line-h;
    font-size: $size;
    letter-spacing: $letterspace;
}

@mixin card-txt ($letterspace) {
    letter-spacing: $letterspace;
}
