@use '../base/' as *;
@use '../utilities/' as *;


.btn, button {
    width: 100%;
    @include button (9.3rem, 3.75rem, $blue);
    & p {
        @include btntxt (.8rem, .08);
        &::after {
            content: '';
            margin-right: .75rem;
        }
    }
    &__lg {
        max-width: 14.25rem;
        width: 100%;
        height: 3.9rem;
        border: none;
        background-image: linear-gradient(100deg,#496BFE, #5474FD);
        & a {
            @include btntxt (1rem, .075rem);
        }
    }
}
