@use '../base/' as *;
@use '../utilities/' as *;


// Use for hover and focus transitions $gray: #999999;
//Use with outline

.hero__form {
    outline: $btn-border solid $white;
    max-width: 652px;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

label {
    display: none;
}

button[type="submit"] {
    max-width: 150px;
    width: 100%;
    border: none;
    transition: all .2s ease-in;
    cursor: pointer;
    font-family: $aleo;
    font-weight: $regular;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1.4px;
    &:hover, &:active {
        border: none;
        background-color: $white;
        color: $blue;
        cursor: pointer;
    }
    &:focus, &:focus-visible {
        border: none;
        background-color: $white;
        color: $blue;
        cursor: pointer;
    }
}

input[type="search"] {
    border: none;
    cursor: pointer;
    flex-grow: 1;
    border-radius: 0;
    max-width: 652px;
    width: 100%;
    padding: $pad;
    transition: all .2s ease-in;
    &::placeholder {
    font-family: $josefin;
    font-size: 14px;
    line-height: $line-h;
    letter-spacing: 2.8px;
    color: $gray;
    }
     &:hover, &:active {
        border: none;
        color: $footer-background;
        cursor: pointer;
        font-family: $josefin;
        font-size: 14px;
    }
    &:focus, &:focus-visible {
        border: none;
        color: $footer-background;
        cursor: pointer;
    }
}
