@use '../base/' as *;
@use '../components/' as *;
@use '../layout' as *;
@use '../utilities/' as *;

.block {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    background-color: $card-color;
}
