@use '../base/' as *;
@use '../components/' as *;
@use '../layout' as *;
@use '../utilities/' as *;

.tourist {
    background-image: url(/images/tourist-2.png);
    grid-column: 1 / span 3;
    grid-row: 7 / span 1;
    background-size: cover;
    background-repeat: no-repeat;
    // position: relative;
}

.card-quote__quote {
    font-family: $montserrat;
    color: $font-gray;
    font-weight: $regular;
    font-size: 1rem;
    line-height: $line-h;
    letter-spacing: .1rem;
    padding: $pad;
    & .fa-quote-left {
        color: $blue;
        font-size: calc(1rem * 4);
        margin-right: $marg;
    }
}
