@use 'variables' as *;


//Typography
.title {        //h2. use for 'Why Choose Us', 'How it works' & 'What our tourist say'
    text-transform: capitalize;
    color: $white;
    font-size: 2.25rem;
    font-family: $aleo;
    font-weight: $regular;
    line-height: $line-h;
    color: $white;
}
.block .title {
    @extend .title;
    text-align: center;
}

h3.card__text--title {        //h3. Use for 'Spain" in the Spain sections.
    font-family: $josefin;
    font-weight: $regular;
    font-size: 1.25rem;
    line-height: $line-h;
    color: $white;
    letter-spacing: .09rem;
}

h4.card__text--title {      //h4. Use for 'Grand Spain Madrid' in the Spain sections and 'Sam Sumon' in the Tourist section.
    font-family: $josefin;
    font-weight: $regular;
    font-size: 1.25rem;
    line-height: $line-h;
    color: $white;
    text-transform: uppercase;
}

.card__text--text {
    font-family: $josefin;
    font-weight: $regular;
    line-height: $line-h;
    color: $white;
}


//Links
a {
    color: $white;
    text-decoration: none;
    transition: all .2s ease-in;
    cursor: pointer;
    &:visited {
        text-decoration: none;
        cursor: pointer;
    }
    &:hover, &:active {
        // color: $blue;
        text-decoration: none;
        cursor: pointer;
    }
    &:focus, &:focus-visible {
        // color: $blue;
        text-decoration: none;
        cursor: pointer;
    }
    &:not(a.scroll-down) {
        text-transform: uppercase;
    }
}
