
//Fonts
$aleo: 'Aleo', serif;
$josefin: 'Josefin Sans', sans-serif;
$montserrat: 'Montserrat Alternates', sans-serif;
$bold: 700;
$regular: 400;



//Colors
$white: #ffffff;
$gray: #999999;
$blue: #5474FD;
$card-color: #333333;
$font-gray: #E8E8E8;
$icon-blue: #00A2FF;
$red: #FF6363;
$footer-background: #232323;

//Layout
$btn-border: .125rem;
$pad: .75rem;
$marg: .3rem;
$line-h: 1.6rem;
//opacity on background: #000000 0.01%
