@use '../base/' as *;

.container {
    margin: 0 auto;
    display: grid;
    width: 60%;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 0;
}
