.grid {
    width: 100%;
    // height: 100vh;
    min-height: 4271px;
    position: relative;
    // border: 1px solid blue;     //debugging
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 0.16fr 1fr 0.4fr repeat(3, 1fr) 0.2fr;
}
